ansicon==1.89.0
appdirs==1.4.4
asgiref==3.6.0
atomicwrites==1.4.1
attrs==21.4.0
beautifulsoup4==4.11.1
blessed==1.19.1
blessings==1.7
bpython==0.22.1
cachetools==4.2.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
colorama==0.4.4
curtsies==0.4.1
cwcwidth==0.1.8
distlib==0.3.4
Django==4.0
django-bootstrap4==22.1
django-debug-toolbar==3.4.0
filelock==3.7.1
greenlet==2.0.1
idna==3.3
iniconfig==2.0.0
jinxed==1.2.0
more-itertools==8.13.0
packaging==21.3
Pillow==9.1.0
platformdirs==2.6.2
pluggy==1.0.0
py==1.11.0
Pygments==2.14.0
pyparsing==3.0.7
pytest==7.1.2
pytest-django==4.5.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.28
requests==2.27.1
six==1.16.0
sorl-thumbnail==12.8.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
tomli==2.0.1
typing_extensions==4.4.0
tzdata==2022.7
urllib3==1.26.9
virtualenv==20.15.1
wcwidth==0.2.5